In [6]:
import pandas as pd
import numpy as np
import plotly.express as px
import matplotlib.pyplot as plt

In [7]:
import seaborn as sns
import plotly.graph_objects as go
import warnings
warnings.filterwarnings('ignore')

In [8]:
df=pd.read_csv('file_out2.csv')
df.head(5)

,Unnamed: 0,InvoiceID,Date,ProductID,TotalSales,Discount,CustomerID,Quantity
0,0,328,2019-12-27,1684,796.610169,143.389831,185,4
1,1,329,2019-12-27,524,355.932203,64.067797,185,2
2,2,330,2019-12-27,192,901.694915,162.305085,230,4
3,3,330,2019-12-27,218,182.754237,32.895763,230,1
4,4,330,2019-12-27,247,780.101695,140.418305,230,4

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29103 entries, 0 to 29102
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   InvoiceID   29103 non-null  int64
 1   Date        29103 non-null  datetime64[ns]
 2   ProductID   29103 non-null  int64
 3   TotalSales  29103 non-null  float64
 4   Discount    29103 non-null  float64
 5   CustomerID  29103 non-null  int64
 6   Quantity    29103 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(4)
memory usage: 1.6 MB

In [10]:
df.duplicated().sum()

0

In [11]:
df=df.drop(columns='Unnamed: 0')

In [12]:
df['Date']=pd.to_datetime(df['Date'],format='%Y-%m-%d')

In [14]:
df['InvoiceID']=df['InvoiceID'].astype(str)
df['ProductID']=df['ProductID'].astype(str)
df['CustomerID']=df['CustomerID'].astype(str)